body {
    font-family: "Barlow", sans-serif;
    background-color: #e2e8f0;
}

.meddon {
    font-family: "Meddon", cursive;
}

.inconsolata {
    font-family: "Inconsolata", monospace;
}

.circle {
    border-radius: 50%;
}

.poem {
    white-space: pre-line;
}

.zoom {
    transition: .3s;
}

.zoom:hover {
    transform: scale(1.5);
}

@tailwind base;

@tailwind components;

.website-img {
    @apply m-4 shadow-xl h-auto w-48 max-w-md flex-initial object-cover
}

@tailwind utilities;
